<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.younsw.OutStargram.post.coment.dao.ComentDAO">

	<insert id="insertComent">
		
		INSERT INTO 
			`coment`
		(
			`userId`
			, `postId`
			, `coment`
			, `createdAt`
			, `updatedAt`
		)
		VALUE
		(
			#{userId}
			, #{postId}
			, #{coment}
			, now()
			, now()
		)
		
	</insert>
	
	<select id="selectComent" parameterType="int" resultType="com.younsw.OutStargram.post.coment.model.Coment">
	
		SELECT 
			`id`
			, `userId`
			, `postId`
			, `coment`
			, `createdAt`
			, `updatedAt`
		FROM 
		 	`coment`
		WHERE 
			postId = #{postId}
	
	</select>
	
	<delete id="deleteComent" parameterType="int">
	
		DELETE FROM
			`coment`
		WHERE
			`postId` = #{postId}
	
	</delete>

</mapper>