@charset "UTF-8";

#wrap {
	width:1200px;
	height:800px;
}

header {
	height:80px;
	background-color: #dddddd;
}

.post {
	background-color: #dddddd;
}

.person-size {
	height:30px;
}

footer {
	height:80px;
	background-color: #dddddd;
}